{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear turno</title>
</head>
<body>
    <h3> Nuevo turno:</h3>
  <DIV>
      <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="btn btn-primary" value= "Guardar" type="submit" href="/">
            <a href="/turno/" class="btn btn-primary"> Salir</a>
      </form>
  </DIV>
</body>
</html>

{% endblock %}