{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
</head>
<body>
    <H4>Acerca de nosotros</H4>
    <p>Esta es una página de consultorio médico para sacar turnos en diferentes especialidades!</p>
    <div>
    <img src="https://www.kreiskrankenhaus-wolgast.de/fileadmin/_processed_/9/e/csm_teaser_abteilungen_d92ecf00a5.jpg" alt="" width="600">
</div>
    <div><a href="/" class="btn btn-primary">Salir</a></div>
</body>
</html>

{% endblock %}